<!-- _includes/projects.html -->
<div class="grid-item">
  {% if project.redirect %}
    <a href="{{ project.redirect }}" class="project-card">
  {% else %}
    <a href="{{ project.url | relative_url }}" class="project-card">
  {% endif %}
      {% if project.img %}
        <img src="{{ project.img | relative_url }}" alt="project thumbnail" class="project-image">
      {% endif %}
      <div class="project-content">
        <div class="project-title">{{ project.title }}</div>
        {% if project.description %}
          <div class="project-description">{{ project.description }}</div>
        {% endif %}
      </div>
  </a>
</div>